# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
pd.json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
pd.json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
json_arr = json.load((open('data/world_bank_projects_less.json')))
print(type(json_arr))
json_arr[0]

<class 'list'>

{'_id': {'$oid': '52b213b38594d8a2be17c780'},
 'approvalfy': 1999,
 'board_approval_month': 'November',
 'boardapprovaldate': '2013-11-12T00:00:00Z',
 'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
 'closingdate': '2018-07-07T00:00:00Z',
 'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
 'countrycode': 'ET',
 'countryname': 'Federal Democratic Republic of Ethiopia',
 'countryshortname': 'Ethiopia',
 'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
 'envassesmentcategorycode': 'C',
 'grantamt': 0,
 'ibrdcommamt': 0,
 'id': 'P129828',
 'idacommamt': 130000000,
 'impagency': 'MINISTRY OF EDUCATION',
 'lendinginstr': 'Investment Project Financing',
 'lendinginstrtype': 'IN',
 'lendprojectcost': 550000000,
 'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
  {'Name': 'Education', 'Percent': 26},
  {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
  {'Name': 'Education', 'Percent': 12}],
 'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
  {'name': 'Education', 'code': 'EX'},
  {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
  {'name': 'Education', 'code': 'EX'}],
 'mjtheme': ['Human development'],
 'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
  {'name': '', 'code': '11'}],
 'mjthemecode': '8,11',
 'prodline': 'PE',
 'prodlinetext': 'IBRD/IDA',
 'productlinetype': 'L',
 'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
 'project_name': 'Ethiopia General Education Quality Improvement Project II',
 'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
   'DocType': 'PID',
   'EntityID': '090224b081e545fb_1_0',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
   'DocDate': '28-AUG-2013'},
  {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
   'DocType': 'IP',
   'EntityID': '000442464_20130920111729',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
   'DocDate': '01-JUL-2013'},
  {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
   'DocType': 'PID',
   'EntityID': '090224b0817b19e2_1_0',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
   'DocDate': '22-NOV-2012'}],
 'projectfinancialtype': 'IDA',
 'projectstatusdisplay': 'Active',
 'regionname': 'Africa',
 'sector': [{'Name': 'Primary education'},
  {'Name': 'Secondary education'},
  {'Name': 'Public administration- Other social services'},
  {'Name': 'Tertiary education'}],
 'sector1': {'Name': 'Primary education', 'Percent': 46},
 'sector2': {'Name': 'Secondary education', 'Percent': 26},
 'sector3': {'Name': 'Public administration- Other social services',
  'Percent': 16},
 'sector4': {'Name': 'Tertiary education', 'Percent': 12},
 'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
  {'name': 'Secondary education', 'code': 'ES'},
  {'name': 'Public administration- Other social services', 'code': 'BS'},
  {'name': 'Tertiary education', 'code': 'ET'}],
 'sectorcode': 'ET,BS,ES,EP',
 'source': 'IBRD',
 'status': 'Active',
 'supplementprojectflg': 'N',
 'theme1': {'Name': 'Education for all', 'Percent': 100},
 'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
 'themecode': '65',
 'totalamt': 130000000,
 'totalcommamt': 130000000,
 'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'}

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### 1. Find the 10 countries with most projects

In [8]:
# load json file as Pandas dataframe
df = pd.read_json('data/world_bank_projects.json')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sector                    500 non-null    object
 1   supplementprojectflg      498 non-null    object
 2   projectfinancialtype      500 non-null    object
 3   prodline                  500 non-null    object
 4   mjtheme                   491 non-null    object
 5   idacommamt                500 non-null    int64
 6   impagency                 472 non-null    object
 7   project_name              500 non-null    object
 8   mjthemecode               500 non-null    object
 9   closingdate               370 non-null    object
 10  totalcommamt              500 non-null    int64
 11  id                        500 non-null    object
 12  mjsector_namecode         500 non-null    object
 13  docty                     446 non-null    object
 14  sector1                   500 non-null    object
 15  lendinginstr              495 non-null    object
 16  countrycode               500 non-null    object
 17  sector2                   380 non-null    object
 18  totalamt                  500 non-null    int64
 19  mjtheme_namecode          500 non-null    object
 20  boardapprovaldate         500 non-null    object
 21  countryshortname          500 non-null    object
 22  sector4                   174 non-null    object
 23  prodlinetext              500 non-null    object
 24  productlinetype           500 non-null    object
 25  regionname                500 non-null    object
 26  status                    500 non-null    object
 27  country_namecode          500 non-null    object
 28  envassesmentcategorycode  430 non-null    object
 29  project_abstract          362 non-null    object
 30  approvalfy                500 non-null    int64
 31  projectdocs               446 non-null    object
 32  lendprojectcost           500 non-null    int64
 33  lendinginstrtype          495 non-null    object
 34  theme1                    500 non-null    object
 35  grantamt                  500 non-null    int64
 36  themecode                 491 non-null    object
 37  borrower                  485 non-null    object
 38  sectorcode                500 non-null    object
 39  sector3                   265 non-null    object
 40  majorsector_percent       500 non-null    object
 41  board_approval_month      500 non-null    object
 42  theme_namecode            491 non-null    object
 43  countryname               500 non-null    object
 44  url                       500 non-null    object
 45  source                    500 non-null    object
 46  projectstatusdisplay      500 non-null    object
 47  ibrdcommamt               500 non-null    int64
 48  sector_namecode           500 non-null    object
 49  _id                       500 non-null    object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [9]:
# filter out regions
regions = df.regionname.unique()
countries_df = df[~df.countryname.isin(regions)]

In [10]:
# get the top 10
print(countries_df['countryname'].value_counts()[:10])

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Nepal                              12
Republic of Mozambique             11
Federative Republic of Brazil       9
Name: countryname, dtype: int64

__Note:__ there are lots of ties.<br>
##### Alternative to account for the ties:

In [11]:
counts = countries_df['countryname'].value_counts()
project_counts_df = counts.to_frame()
project_counts_df.columns = ['nb_projects']
project_counts_df.reset_index(inplace=True)
project_counts_df = project_counts_df.rename(columns = {'index':'countryname'})
project_counts_df.head()

                     countryname  nb_projects
0          Republic of Indonesia           19
1     People's Republic of China           19
2  Socialist Republic of Vietnam           17
3              Republic of India           16
4              Republic of Yemen           13

In [12]:
nb_projects_arr = project_counts_df.nb_projects.unique()[:10]
nb_projects_arr

array([19, 17, 16, 13, 12, 11,  9,  8,  7,  6])

In [13]:
tops = []
for i in range(10):
    position = {}
    position['rank'] = i + 1
    position['nb_projects'] = nb_projects_arr[i]
    position['countries'] = project_counts_df[project_counts_df.nb_projects == nb_projects_arr[i]].countryname.values
    position['nb_countries'] = len(position['countries'])
    tops.append(position)

print(tops)

[{'rank': 1, 'nb_projects': 19, 'countries': array(['Republic of Indonesia', "People's Republic of China"],
      dtype=object), 'nb_countries': 2}, {'rank': 2, 'nb_projects': 17, 'countries': array(['Socialist Republic of Vietnam'], dtype=object), 'nb_countries': 1}, {'rank': 3, 'nb_projects': 16, 'countries': array(['Republic of India'], dtype=object), 'nb_countries': 1}, {'rank': 4, 'nb_projects': 13, 'countries': array(['Republic of Yemen'], dtype=object), 'nb_countries': 1}, {'rank': 5, 'nb_projects': 12, 'countries': array(["People's Republic of Bangladesh", 'Kingdom of Morocco', 'Nepal'],
      dtype=object), 'nb_countries': 3}, {'rank': 6, 'nb_projects': 11, 'countries': array(['Republic of Mozambique'], dtype=object), 'nb_countries': 1}, {'rank': 7, 'nb_projects': 9, 'countries': array(['Federative Republic of Brazil', 'Islamic Republic of Pakistan',
       'Burkina Faso'], dtype=object), 'nb_countries': 3}, {'rank': 8, 'nb_projects': 8, 'countries': array(['United Republic of Tanzania', 'Republic of Tajikistan',
       'Republic of Armenia'], dtype=object), 'nb_countries': 3}, {'rank': 9, 'nb_projects': 7, 'countries': array(['Kyrgyz Republic', 'Hashemite Kingdom of Jordan',
       "Lao People's Democratic Republic", 'Federal Republic of Nigeria'],
      dtype=object), 'nb_countries': 4}, {'rank': 10, 'nb_projects': 6, 'countries': array(['Republic of Kenya', 'Republic of Peru', 'West Bank and Gaza',
       'Islamic State of Afghanistan', 'Republic of Nicaragua',
       'Democratic Republic of the Congo'], dtype=object), 'nb_countries': 6}]

In [14]:
tops_df = pd.DataFrame(tops)
tops_df

,rank,nb_projects,countries,nb_countries
0,1,19,"[Republic of Indonesia, People's Republic of C...",2
1,2,17,[Socialist Republic of Vietnam],1
2,3,16,[Republic of India],1
3,4,13,[Republic of Yemen],1
4,5,12,"[People's Republic of Bangladesh, Kingdom of M...",3
5,6,11,[Republic of Mozambique],1
6,7,9,"[Federative Republic of Brazil, Islamic Republ...",3
7,8,8,"[United Republic of Tanzania, Republic of Taji...",3
8,9,7,"[Kyrgyz Republic, Hashemite Kingdom of Jordan,...",4
9,10,6,"[Republic of Kenya, Republic of Peru, West Ban...",6

### 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [15]:
df.mjtheme_namecode[0]

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]

In [16]:
# load json file as string
json_arr = json.load((open('data/world_bank_projects.json')))
json_arr[0]

{'sector': [{'Name': 'Primary education'},
  {'Name': 'Secondary education'},
  {'Name': 'Public administration- Other social services'},
  {'Name': 'Tertiary education'}],
 'supplementprojectflg': 'N',
 'projectfinancialtype': 'IDA',
 'prodline': 'PE',
 'mjtheme': ['Human development'],
 'idacommamt': 130000000,
 'impagency': 'MINISTRY OF EDUCATION',
 'project_name': 'Ethiopia General Education Quality Improvement Project II',
 'mjthemecode': '8,11',
 'closingdate': '2018-07-07T00:00:00Z',
 'totalcommamt': 130000000,
 'id': 'P129828',
 'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
  {'code': 'EX', 'name': 'Education'},
  {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
  {'code': 'EX', 'name': 'Education'}],
 'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
 'sector1': {'Percent': 46, 'Name': 'Primary education'},
 'lendinginstr': 'Investment Project Financing',
 'countrycode': 'ET',
 'sector2': {'Percent': 26, 'Name': 'Secondary education'},
 'totalamt': 130000000,
 'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
  {'code': '11', 'name': ''}],
 'boardapprovaldate': '2013-11-12T00:00:00Z',
 'countryshortname': 'Ethiopia',
 'sector4': {'Percent': 12, 'Name': 'Tertiary education'},
 'prodlinetext': 'IBRD/IDA',
 'productlinetype': 'L',
 'regionname': 'Africa',
 'status': 'Active',
 'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
 'envassesmentcategorycode': 'C',
 'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
 'approvalfy': 1999,
 'projectdocs': [{'DocDate': '28-AUG-2013',
   'EntityID': '090224b081e545fb_1_0',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
   'DocType': 'PID',
   'DocTypeDesc': 'Project Information Document (PID),  Vol.'},
  {'DocDate': '01-JUL-2013',
   'EntityID': '000442464_20130920111729',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
   'DocType': 'IP',
   'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1'},
  {'DocDate': '22-NOV-2012',
   'EntityID': '090224b0817b19e2_1_0',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
   'DocType': 'PID',
   'DocTypeDesc': 'Project Information Document (PID),  Vol.'}],
 'lendprojectcost': 550000000,
 'lendinginstrtype': 'IN',
 'theme1': {'Percent': 100, 'Name': 'Education for all'},
 'grantamt': 0,
 'themecode': '65',
 'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
 'sectorcode': 'ET,BS,ES,EP',
 'sector3': {'Percent': 16,
  'Name': 'Public administration- Other social services'},
 'majorsector_percent': [{'Percent': 46, 'Name': 'Education'},
  {'Percent': 26, 'Name': 'Education'},
  {'Percent': 16, 'Name': 'Public Administration, Law, and Justice'},
  {'Percent': 12, 'Name': 'Education'}],
 'board_approval_month': 'November',
 'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
 'countryname': 'Federal Democratic Republic of Ethiopia',
 'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en',
 'source': 'IBRD',
 'projectstatusdisplay': 'Active',
 'ibrdcommamt': 0,
 'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
  {'code': 'ES', 'name': 'Secondary education'},
  {'code': 'BS', 'name': 'Public administration- Other social services'},
  {'code': 'ET', 'name': 'Tertiary education'}],
 '_id': {'$oid': '52b213b38594d8a2be17c780'}}

In [17]:
# use normalization to create tables from nested element
df_norm = pd.json_normalize(json_arr, 'mjtheme_namecode', ['countryname'])
df_norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         1499 non-null   object
 1   name         1499 non-null   object
 2   countryname  1499 non-null   object
dtypes: object(3)
memory usage: 35.3+ KB

In [18]:
df_themes = df_norm.groupby(['code', 'name']).size().reset_index().rename(columns={0: 'count'}).sort_values(by='count', ascending=False)
df_themes

   code                                          name  count
5    11  Environment and natural resources management    223
3    10                             Rural development    202
19    8                             Human development    197
7     2                      Public sector governance    184
15    6         Social protection and risk management    158
11    4      Financial and private sector development    130
17    7                   Social dev/gender/inclusion    119
13    5                         Trade and integration     72
21    9                             Urban development     47
1     1                           Economic management     33
4    11                                                   27
10    4                                                   16
6     2                                                   15
2    10                                                   14
18    8                                                   13
9     3                                   Rule of law     12
16    7                                                   11
14    6                                                   10
12    5                                                    5
0     1                                                    5
8     3                                                    3
20    9                                                    3

### 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [19]:
import numpy as np

df_themes = df_themes.replace('', np.nan).dropna()
df_themes

   code                                          name  count
5    11  Environment and natural resources management    223
3    10                             Rural development    202
19    8                             Human development    197
7     2                      Public sector governance    184
15    6         Social protection and risk management    158
11    4      Financial and private sector development    130
17    7                   Social dev/gender/inclusion    119
13    5                         Trade and integration     72
21    9                             Urban development     47
1     1                           Economic management     33
9     3                                   Rule of law     12

In [20]:
df_norm_clean = pd.merge(df_norm, df_themes, how='left', on='code')
df_norm_clean.head()

,code,name_x,countryname,name_y,count
0,8,Human development,Federal Democratic Republic of Ethiopia,Human development,197
1,11,,Federal Democratic Republic of Ethiopia,Environment and natural resources management,223
2,1,Economic management,Republic of Tunisia,Economic management,33
3,6,Social protection and risk management,Republic of Tunisia,Social protection and risk management,158
4,5,Trade and integration,Tuvalu,Trade and integration,72

In [21]:
df_norm_clean.drop(columns='name_x', axis=1, inplace=True)
df_norm_clean.rename(columns={"name_y": "name"}, inplace=True)
df_norm_clean.head()

,code,countryname,name,count
0,8,Federal Democratic Republic of Ethiopia,Human development,197
1,11,Federal Democratic Republic of Ethiopia,Environment and natural resources management,223
2,1,Republic of Tunisia,Economic management,33
3,6,Republic of Tunisia,Social protection and risk management,158
4,5,Tuvalu,Trade and integration,72

In [22]:
df_norm_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 0 to 1498
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         1499 non-null   object
 1   countryname  1499 non-null   object
 2   name         1499 non-null   object
 3   count        1499 non-null   int64
dtypes: int64(1), object(3)
memory usage: 58.6+ KB